body {
    color:black;
    background: #332F29;
    font-size: 100%;

}

.contenedor {
    
    background: #8FA68E;
    width: 800px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.contenedor > header {
    background: rgb(233, 216, 216);
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
}

ul {
    list-style-type: none;
}

.contenedor > nav {
    background: #CC3910;
    width: 160px;
    height: 110px;
    margin: 0 auto;

}